@import "tailwindcss";

@font-face {
  font-family: 'Adigiana UI';
  src: url('./assets/AdigianaUI.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Louis George Cafe';
  src: url('./assets/Louis George Cafe.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Louis George Cafe';
  src: url('./assets/Louis George Cafe Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

html {
  font-family: 'Louis George Cafe', sans-serif;
}

body {
  font-family: 'Louis George Cafe', sans-serif;
}

body,
button,
input,
textarea,
select,
a,
p,
span,
li,
label,
small,
strong {
  font-family: inherit;
}

.font-adigiana {
  font-family: 'Adigiana UI', serif;
}
